.pl-image {
    width: 130px;
    float: left;
    margin-right: 10px;
}

.pl-container {
    overflow: hidden;
    margin-bottom: 20px;
}

.tab-item {
    margin-top: 20px;
}

.pl-image.selected {
    border: 5px solid orange;
}

.load-more-container {
    display: none;
    text-align: center;
}

a.action-link {
	color: gray;
    cursor: pointer;
}

a.action-link.featured {
    color: orange;
}
